*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#nav{
    display: flex;
    border: 1px solid black;
    justify-content:space-around ;
    min-width: 400px;
    padding: .5rem;
    margin: .5rem;
    border-radius: 30px;
    background-image: linear-gradient(40deg, rgb(204, 176, 176), rgb(126, 126, 128));
}

#nav ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-top: 0;
    border-radius: 5px;
    border-left: 0;
    border-right: 0;
}
a:hover{
    color: blanchedalmond;
    border-bottom: 2px solid rgb(132, 119, 48);
    font-size: 20px;
}

li{
    list-style: none;
}